html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.player {
  position: absolute;

  width: 30px;
  height: 30px;

  left: 50%;
  top: 50%;

  border-radius: 50%;

  background-color: black;
}
